@charset "utf-8";
/* CSS Document */
body {
	background-color: #FFFFCC;
}
div.inoroutframe {
	padding: 20px;
}
div.inorout {
	background-color: #DDFFFF;
	border: solid 5px #3300FF;
	border-radius: 15px;
	font-size: 72px;
	text-align: center;
	width: 250px;
	height: 150px;
	padding-top: 55px;
	margin: auto;
}
div.btn_inout {
	margin: auto;
	margin-top: 30px;
	width: 315px;
}
div.loggerinfo {
	margin: auto;
}
.btn_io {
	background-color: #DDDDFF;
	border: 1px solid black;
	text-align: center;
	font-size: 18px;
	margin: auto;
	width: 100px;
	height: 80px;
}
table.cardholder {
	border-collapse: collapse;
	border: 2px solid black;
	alignment-adjust: middle central;
	width: 350px;
	background-color: #AAAAEE;
}
td.cardholderinfo {
	border: 1px solid black;
}