<?xml version='1.0' encoding='utf-8'?>
<widget id="com.necc.nfcattsys" version="0.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" xmlns:cdv="http://cordova.apache.org/ns/1.0">
<name>nfcattendencesystem</name>
<description>
NFC Card reading Attendence System
</description>
<author email="info@necc.com.hk" href="http://www.tndesign-studio.com">
TN@NECC
</author>
<content src="index.html" />
<access origin="*" />
<allow-navigation href="*" />
<allow-intent href="http://*/*" />
<allow-intent href="https://*/*" />

<preference name="orientation" value="portrait" />
<preference name="exit-on-suspend" value="true" />
<preference name="splash-screen-duration" value="3000" />
 
<icon src="icon.png" />
<gap:splash src="splash.png" />
<gap:plugin name="phonegap-nfc" source="npm" />
<plugin name="cordova-plugin-geolocation" source="npm" spec="2.4.3" />
<plugin name="cordova-plugin-device" />
<plugin name="cordova-plugin-whitelist" spec="1" />
</widget>
